.btn-ex-dl{
    border-radius: 5px;
    background-color: #2196F3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    /* width: 200px; */
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 0 0px 5px;
    box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
  }
  .btn-ex-dl:hover{
    border-radius: 7px;
    background-color: #1e83d6;
  }

  .img-excel-dl{
      width: 15px;
      height: 15px;
  }

  .btn-date159{
    cursor: pointer;
    padding: 15px 10px;
    width: 90%;
    border-left: 5px solid #4CAF50;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 4px;
    margin: 5px 13px;
    transition: 0.3s;
  }.btn-date159:hover{
    color: #FFF;
    border: none;
    background-color: #4CAF50;
  }.active159{
    cursor: pointer;
    padding: 15px 10px;
    width: 90%;
    color: #FFFFFF;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    margin: 5px 13px;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
  }
  
  .btn-date2610{
    cursor: pointer;
    padding: 15px 10px;
    width: 90%;
    border-left: 5px solid #2196f3;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 4px;
    margin: 5px 13px;
    transition: 0.3s;
  }.btn-date2610:hover{
    color: #FFF;
    border:none;
    background-color: #2196f3;
  }.active2610{
    cursor: pointer;
    padding: 15px 10px;
    width: 90%;
    color: #FFFFFF;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    margin: 5px 13px;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
  }
  
  .btn-date3711{
    cursor: pointer;
    padding: 15px 10px;
    width: 90%;
    border-left: 5px solid #f44336;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 4px;
    margin: 5px 13px;
    transition: 0.3s;
  }.btn-date3711:hover{
    color: #FFF;
    border:none;
    background-color: #f44336;
  }.active3711{
    cursor: pointer;
    padding: 15px 10px;
    width: 90%;
    color: #FFFFFF;
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    margin: 5px 13px;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
  }
  
  .btn-date4812{
    cursor: pointer;
    padding: 15px 10px;
    width: 90%;
    border-left: 5px solid #555;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 4px;
    margin: 5px 13px;
    transition: 0.3s;
  }.btn-date4812:hover{
    color: #FFF;
    border:none;
    background-color: #555;
  }.active4812{
    cursor: pointer;
    padding: 15px 10px;
    width: 90%;
    color: #FFFFFF;
    background-color: #555;
    border: none;
    border-radius: 4px;
    margin: 5px 13px;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
  }