.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; 
  } 
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
  color:black;
  width: 100%;
  display: flex;  
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.columns {
  float: left;
  width: 30%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.btn-card {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

.bg{
  background-color: #FFF;
  height: 100vmin;
}
.center-text{text-align: center;}
.fs-12{font-size: 12px;}
.fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.fs-20{font-size: 20px;}
.fs-24{font-size: 24px;}
.fs-28{font-size: 28px;}
.fs-40{font-size: 40px;}
.fs-52{font-size: 52px;}


.bg-upload{
  background-color: rgb(255, 255, 255);
  padding: 2%;
  margin: 15px 10px;
  height: 100px;
  display: block;  
  border-radius: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.btn-upload {
  border: 2px dashed gray;
  color: gray;
  background-color: white;
  padding: 20%;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin: auto auto;
  display: block;
}

.img-upload{
  width: 100px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  width: 85%;
  height: 100%;
  left: 7.5%;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

#mySidenav a {
  left: -130px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  position: fixed;
  z-index: 2;
}

#mySidenav a:hover {
  left: 0;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
}

#UPLOAD-FILE {
  top: 20px;
  background-color: #4CAF50;
}

#REPORT {
  top: 80px;
  background-color: #2196F3;
}

#PRODUCT-LIST {
  top: 140px;
  background-color: #f44336;
}

#INVENTORY {
  top: 200px;
  background-color: #555
}

#DAILY {
  top: 260px;
  background-color: #ffbb00;
}

#SHELF {
  top: 320px;
  background-color: #793516;
}


#LOGOUT{
  top: 380px;
  background-color: #000;
}

label{
  width: 150px;
}

.btn-default-upload {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 10px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 30px 0px 10px 10px; */
}

.btn-default-upload span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-default-upload span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.btn-default-upload:hover span {
  padding-right: 25px;
}

.btn-default-upload:hover span:after {
  opacity: 1;
  right: 0;
}

.icon-sidenav{
  width: 25px;
  float: right;
}

.btn-update{
  left: 50%;
  top:10%;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 10px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0 50px -150px;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
}

.btn-update span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-update span:after {
  content: '\21BB';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.btn-update:hover span {
  padding-right: 25px;
}

.btn-update:hover span:after {
  opacity: 1;
  right: 0;
  transform:rotate(70deg);
  animation: rotate 0.5s;
  animation-iteration-count: 1;
}

@keyframes rotate {
  from{transform:rotate(70deg);}
  to{transform:rotate(430deg);
  }
}

.bg-inventory{
  background-color: #555;
  height: 140px;
  width: 83.33%;
  margin: 0 auto;
  display: block;
  border-radius:0 0 5px 5px;
  z-index: 1;
}

.bg-report{
  background-color: #2196F3;
  height: 140px;
  /* left: 0;
  top: 0; */
  width: 83.33%;
  margin: 0 auto;
  display: block;
  border-radius:0 0 5px 5px;
  z-index: 1;
}

.bg-product{
  background-color: #f44336;
  height: 140px;
  width: 83.33%;
  margin: 0 auto;
  display: block;
  border-radius:0 0 5px 5px;
  z-index: 1;
}


.bg-daily{
  background-color: #ffbb00;
  height: 140px;
  width: 83.33%;
  margin: 0 auto;
  display: block;
  border-radius:0 0 5px 5px;
  z-index: 1;
}

.bg-shelf{
  background-color: #793516;
  height: 140px;
  width:100%;
  margin: 0 auto;
  display: block;
  border-radius:0 0 5px 5px;
  z-index: 1;
}
.box{
  /* left: 50%; */
  /* top:10%; */
  margin: 10px auto 30px auto;
  display: flex;
  position: relative;
  /* float: left; */
  width: 450px;
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
  border-radius: 5px;
  cursor: pointer;
  height: 40;
  font-size: 16px;
  padding: 20px 0 20px 5px;
}





.animate-top{
  position:relative;
  animation:animatetop 1s;
}
@keyframes animatetop{
  from{top:-300px;opacity:0} 
  to{top:0;opacity:1}
}


.animate-bottom{
  position:relative;
  animation:animatebottom 1s;
}
@keyframes animatebottom{
  from{bottom:-300px;opacity:0} 
  to{bottom:0;opacity:1}
}

.report-cash{
  border-top: 1px solid rgb(240, 240, 240);
  border-spacing: 0px;
  width: 100%;
}
.report-cashtr:hover{
  background-color: rgb(240, 240, 240);
}

.report-cashtd{
  text-align: left;
  padding: 5px;
  height: 30px;
}


td{
  text-align: left;
  padding: 5px;
}
table{
  /* border-top: 1px solid rgb(240, 240, 240); */
  /* margin: 0 20px 0 45px; */
  border-spacing: 0px;
  width: 100%;
}



/* tr:hover{
background-color: rgb(240, 240, 240);
} */

.total-list{
  border-radius: 20px;
  box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.3);
  padding: 20px 20px 0px 20px;
  height:400px;
  overflow:auto;
}

.total-text{
  padding: 20px 20px 10px 20px;
}

hr{
  border: 1px solid rgb(240, 240, 240);
}

.img-cash-type{
  width: 30px;
}

.btn-date1{
  cursor: pointer;
  padding: 15px 10px;
  width: 100px;
  border-left: 5px solid #4CAF50;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 4px;
  margin: 5px 13px;
  transition: 0.3s;
}.btn-date1:hover{
  color: #FFF;
  border: none;
  background-color: #4CAF50;
}.active1{
  cursor: pointer;
  padding: 15px 10px;
  width: 100px;
  color: #FFFFFF;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  margin: 5px 13px;
  box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
}

.btn-date2{
  cursor: pointer;
  padding: 15px 10px;
  width: 100px;
  border-left: 5px solid #2196f3;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 4px;
  margin: 5px 13px;
  transition: 0.3s;
}.btn-date2:hover{
  color: #FFF;
  border:none;
  background-color: #2196f3;
}.active2{
  cursor: pointer;
  padding: 15px 10px;
  width: 100px;
  color: #FFFFFF;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  margin: 5px 13px;
  box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
}

.btn-date3{
  cursor: pointer;
  padding: 15px 10px;
  width: 100px;
  border-left: 5px solid #f44336;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 4px;
  margin: 5px 13px;
  transition: 0.3s;
}.btn-date3:hover{
  color: #FFF;
  border:none;
  background-color: #f44336;
}.active3{
  cursor: pointer;
  padding: 15px 10px;
  width: 100px;
  color: #FFFFFF;
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  margin: 5px 13px;
  box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
}

.btn-date4{
  cursor: pointer;
  padding: 15px 10px;
  width: 100px;
  border-left: 5px solid #555;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 4px;
  margin: 5px 13px;
  transition: 0.3s;
}.btn-date4:hover{
  color: #FFF;
  border:none;
  background-color: #555;
}.active4{
  cursor: pointer;
  padding: 15px 10px;
  width: 100px;
  color: #FFFFFF;
  background-color: #555;
  border: none;
  border-radius: 4px;
  margin: 5px 13px;
  box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
}

.tab-area{
  display:block;
  width:100%;
  justify-content:center;
  align-items:center;
  border-top: 1px solid #ccc;
  height: 70vh;
  padding-top: 20px;
}
.tab-header{
  flex-direction:row;
  justify-content:space-between;
  counter-reset: counter;
  position:relative;
  padding:15px 16px 15px 16px;
  width:calc(100%/6);
  text-align:center;
  font-weight:bold;
  cursor:pointer;
  overflow:hidden;
  border: none;
  top: 2px;
}


.activeTab{
  position:relative;
  padding:15px 16px 15px 16px;
  width:calc(100%/6);
  text-align:center;
  font-weight:bold;
  cursor:pointer;
  overflow:hidden;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #fff;
  background-color: #fff;
  top: 2px;

}

.div-768 {
  display: none;
}


@media screen and (max-width: 768px) {
   .div-1024{
    display: none;
  }
  .div-768 {
      display: table-row-group;
  }
  .total-list{
    border-radius: 20px;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    height:530px;
    overflow:auto;
  }
  .total-768{
    height:440px;
    overflow:auto;
  }
  
  .btn-status{
    content: '\2261';
    z-index: 1;
    background-color: transparent;
    border: none;
    float: right;
    height: 50px;
  }

  .btn-status span:after {
  content: '\00D7';
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.3s;
}
  
.mobile-container{
  background-color: #333;
    position: relative;
    width: 100%;
    position: fixed;
    z-index: 1;
}

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    width: 100%;
    
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    /* padding: 10px; */
    
  }
  
  .topnav-link{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  ul{
    padding: unset;
  }
  li{
    list-style-type: none;
  }

  .icon-sidenav{
    width: 25px;
    float: left;
    padding-right: 15px;
    margin-top: -5px;
  } 
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
}

@media screen and (max-width: 425px) {
  table{
    border-top: 1px solid rgb(240, 240, 240);
    margin: 0 20px 0 0px;
    border-spacing: 0px;
  }
  .total-list{
    border-radius: 20px;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.3);
    padding: 5px;
    height:530px;
    overflow:auto;
  }

  .btn-date1{
    cursor: pointer;
    padding: 15px 10px;
    width: 100%;
    border-left: 5px solid #4CAF50;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 4px;
    margin: 5px 0;
    transition: 0.3s;
  }.btn-date1:hover{
    color: #FFF;
    border: none;
    background-color: #4CAF50;
  }.active1{
    cursor: pointer;
    padding: 15px 10px;
    width: 100%;
    color: #FFFFFF;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
  }
  
  .btn-date2{
    cursor: pointer;
    padding: 15px 10px;
    width: 100%;
    border-left: 5px solid #2196f3;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 4px;
    margin: 5px 0;
    transition: 0.3s;
  }.btn-date2:hover{
    color: #FFF;
    border:none;
    background-color: #2196f3;
  }.active2{
    cursor: pointer;
    padding: 15px 10px;
    width: 100%;
    color: #FFFFFF;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
  }
  
  .btn-date3{
    cursor: pointer;
    padding: 15px 10px;
    width: 100%;
    border-left: 5px solid #f44336;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 4px;
    margin: 5px 0;
    transition: 0.3s;
  }.btn-date3:hover{
    color: #FFF;
    border:none;
    background-color: #f44336;
  }.active3{
    cursor: pointer;
    padding: 15px 10px;
    width: 100%;
    color: #FFFFFF;
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
  }
  
  .btn-date4{
    cursor: pointer;
    padding: 15px 10px;
    width: 100%;
    border-left: 5px solid #555;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 4px;
    margin: 5px 0;
    transition: 0.3s;
  }.btn-date4:hover{
    color: #FFF;
    border:none;
    background-color: #555;
  }.active4{
    cursor: pointer;
    padding: 15px 10px;
    width: 100%;
    color: #FFFFFF;
    background-color: #555;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.2);
  }
}

.logo{
  width: 100%;
  margin-top: 20%;
}

.bg-yellow{
  background-color: #ffc933;
  height: 100vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.input-name{
  color: #000;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom:15px;
  padding: 20px 10px;
  width: 100%;
}

.login_div {
  display: table;
  margin: 100px auto;
  width: 400px;
}




.btn-login{
width: 50%;
display: block;
padding: 20px 10px;
/* width: 300px; */
border: none;
background-color: #ef3d31;
color: #fff;
margin: 10px auto;
border-radius: 4px;
text-align: center;
cursor: pointer;
font-size: 16px;
box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
}



.btn-setting{
  border-radius: 4px;
  background-color: #2196F3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px auto 0px auto;
  float: right;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
  /* left: -6%;
  /* top:10%; */
  /* border-radius: 4px;
  background-color: #2196F3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  display: block;
  margin: 60px auto 50px auto;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3); */ 
}

.btn-setting span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-setting span:after {
  content: '\26ED';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -20px;
  transition: 0.3s;
}

.btn-setting:hover span {
  padding-right: 25px;
}

.btn-setting:hover span:after {
  opacity: 1;
  right: 0;
  transform:rotate(70deg);
  animation: rotate 0.5s;
  animation-iteration-count: 1;
}

.btn-save{
  /* left: 35%; */
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px 0 0px 5px;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
}

.btn-save span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-save span:after {
  content: '\2714';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -20px;
  transition: 0.3s;
}

.btn-save:hover span {
  padding-right: 25px;
}

.btn-save:hover span:after {
  opacity: 1;
  right: 0;
  animation-iteration-count: 1;
}

.btn-submit{
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px 5px 0px auto;
  float: right;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
}

.btn-submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-submit span:after {
  content: '\2714';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -20px;
  transition: 0.3s;
}

.btn-submit:hover span {
  padding-right: 25px;
}

.btn-submit:hover span:after {
  opacity: 1;
  right: 0;
  animation-iteration-count: 1;
}


.btn-cencle{
  /* left: 35%;
  top:10%; */
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px 0 0px 5px;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
}

.btn-cencle span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-cencle span:after {
  content: '\2716';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -20px;
  transition: 0.3s;
}

.btn-cencle:hover span {
  padding-right: 25px;
}

.btn-cencle:hover span:after {
  opacity: 1;
  right: 0;
  animation-iteration-count: 1;
}

.col-style{
  display: flex;
  border:1px solid #000;
  border-left: none;
  border-bottom: none;
  /* justify-Content: center; */
  padding: 10px;
  /* align-Items: center; */
  cursor: pointer;
  /* margin-left: -3px;
  margin-top: -3px; */
}
.btn-center{
  display: flex;
  justify-Content: center;
  align-Items: center;
  
}
.btn-merg{
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 5px;
  width:50px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin-left: 50%; */
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
}

.btn-splid{
  border-radius: 4px;
  background-color: #2196f3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 5px;
  width:50px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin-left: 170%; */
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
}


.btn-merg-cancel{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 5px;
  width:50px;
  transition: all 0.5s;
  /* margin-left: 50%; */
  cursor: pointer;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.3);
}

.number-shelf{
  font-size: 14px;
  display: flex;
  margin-bottom: 10px ;
  justify-Content: center;
  align-Items: center;
  /* border:solid; */
  background-color: #F7D677;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.hr-border-l{
  height: 100%;
  margin-top: -1px;
  border-left: 1px solid #000;
}

.hr-border-b{
  
  margin-top: -1px;
  border-bottom: 1px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
}

.name_product{
  /* white-space:nowrap;  */
  /* width: 100%;  */
  height: 20px;
  width: 100px;
  /* word-wrap: break-word; */
  /* overflow:hidden; */
  /* text-overflow:ellipsis; */
}

.downlaod-img{
  /* left: -130px; */
  transition: 0.3s;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  background-color: #ffbb00;
  border: none;
  float: right;
  cursor: pointer;
}

.downlaod-img:hover{
opacity: 0.7;
}
.icon-downlaod-img{
  float: left;
  padding-right: 5px;
  margin-top: -2px;
}